footer
    margin 25px 0
    +mobile()
        margin-top 10px
    text-align center
    p
        display inline-block
        text-align center
        color #878787
        calibri 15 light
        min-height 38px
        background $img('checkup-logo1.png') no-repeat center left
        padding-left 60px
        padding-top 10px
