header
    margin 40px 0 20px
    +mobile()
        margin 20px 0
    .logo
        display block
        width 228px
        height 65px
        background $img('checkup-marca1.png') no-repeat center
        text-indent -9999px
        margin-bottom 35px
    #nav-desktop
        background $azulClaro
        height 40px
        border-radius 7px
        padding 0 20px
        font-size 0
        clearfix()
        +below($tablet)
            > a
                display none
        a
            calibri 15 bold
            color #fff
            line-height 44px
            padding 0 20px
            position relative
            + a:after
                content ''
                position absolute
                left 0
                top 50%
                margin-top -11px
                width 1px
                height 20px
                background rgba(#fff, .4)
            &:first-child
                padding-left 0
            &:hover
            &.active
                color $azul
        .contato
            float right
            height 100%
            padding 0
            a
                display inline-block
                width 15px
                height 100%
                background $img('facebook-icone.png') no-repeat center
                margin-right 8px
                text-indent -9999px
                vertical-align top
            span
                calibri 14
                color #fff
                line-height 42px
                vertical-align top
    #nav-mobile
        display none
        +above($tablet)
            display none !important
        background $azulClaro
        position relative
        top -7px
        padding 20px 20px 15px
        border-radius 0 0 7px 7px
        a
            display block
            calibri 15 bold
            color #fff
            margin 2px 0
            &.active
                color $azul
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float left
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background #fff
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background #fff
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

.not-found
    text-align center
    margin 180px 0
    calibri 14 bold
    color $azul
    text-transform uppercase
    +tablet()
        margin 120px 0
    +mobile()
        margin 70px 0
