a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5
    calibri 16
    color #878787
    a
        color $azulClaro
        &:hover
            color $azul

ul
    padding 0
    list-style-type none
    li
        calibri 16
        line-height 1.2
        margin 3px 0
        color #878787
        padding-left 1em
        position relative
        &:before
            content ''
            position absolute
            width 6px
            height 6px
            background $azul
            top .3em
            left 0
            border-radius 100%

body
    background $img('marcadagua.png') no-repeat center 110px
    +mobile()
        background-position center 80px
        background-size 400px auto
