desktop-base-width     = 950px
rupture.desktop-cutoff = $tablet = 1050px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$azul      = #1E458B
$azulClaro = #0EA4DE

@font-face
    font-family 'Calibri'
    src url('../font/Calibri.woff2') format('woff2'),
        url('../font/Calibri.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'Calibri'
    src url('../font/Calibri-Light.woff2') format('woff2'),
        url('../font/Calibri-Light.woff') format('woff')
    font-weight 300
    font-style normal

@font-face
    font-family 'Calibri'
    src url('../font/Calibri-Bold.woff2') format('woff2'),
        url('../font/Calibri-Bold.woff') format('woff')
    font-weight 700
    font-style normal

calibri($size, $weight = normal)
    font-size $size + 0px
    font-family 'Calibri', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
    if $weight == light
        font-weight 300
