.contato
    padding 60px 0 75px
    +mobile()
        padding 0 0 20px
    p
        margin 0 auto
        text-align center
        max-width 500px
        +mobile()
            text-align left
    img
        display block
        margin 55px auto
        +mobile()
            margin 25px 0
