.empresa
    clearfix()
    .texto
        width 60%
        float left
        padding 35px 25px 0
        +mobile()
            width 100%
            padding 0 0 25px
        +tablet()
            padding 25px 25px 0 0
        p:first-child
            margin-top 0
        p:last-child
            margin-bottom 0
    .box
        width 40%
        float right
        background #fff
        border-radius 5px
        box-shadow 0 0 7px rgba(#000, .3)
        padding 30px
        +mobile()
            width 100%
            padding 20px
        h3
            margin 25px 0 5px
            calibri 16
            color $azul
            &:first-child
                margin-top 0
        p
        ul
            margin 0
