.proposta
    +above($tablet)
        padding 45px
    .enviado
        max-width 880px
        margin 0 auto
        border 1px solid #878787
        background #fff
        padding 35px
        text-align center
        color $azul
        calibri 16 bold
        line-height 1
        border-radius 5px
    form
        text-align center
        p
            font-size 15px
            text-align center
            margin 0
        .erro
            display inline-block
            margin 22px 0 0
            border 1px solid #D24444
            color #D24444
            border-radius 3px
            padding 10px 10px 8px
            line-height 1
            calibri 12 bold
            text-transform uppercase
        .box
            border 1px solid #878787
            background #fff
            padding 23px
            border-radius 5px
            margin 23px auto
            max-width 880px
            text-align left
            +below($tablet)
                padding 16px
            clearfix()
        .col
            width calc('50% - 25px')
            float left
            +tablet()
                width calc('50% - 20px')
            +mobile()
                width 100%
            h3
                calibri 16 bold
                margin 0 0 15px
                color #696969
            .row
                margin-bottom 8px
                &:last-child
                    margin-bottom 0
                clearfix()
                label
                    float left
                    calibri 15
                    color #878787
                    padding-top 4px
                    +mobile()
                        width 100% !important
                        margin-bottom 2px
                input
                select
                textarea
                    float right
                    height 24px
                    border 1px solid #878787
                    border-radius 3px
                    padding 0 5px
                    color #000
                    calibri 14
                    outline 0
                    line-height 1
                    resize none
                    +mobile()
                        width 100% !important
                        margin 0 !important
                textarea
                    height 62px
                    padding 5px
            &:first-child
                .row:nth-child(2)
                    label
                        width 138px
                    input
                        width calc('100% - 138px')
                .row:nth-child(3)
                    label
                        width 64px
                    input
                        width calc('100% - 64px')
                .row:nth-child(4)
                    label
                        width 186px
                    input
                        width calc('100% - 186px')
                .row:nth-child(5)
                    label
                        width auto
                    input
                        float left
                        width 35px
                        margin-left 8px
                .row:nth-child(6)
                    label
                        width 215px
                    input
                        width calc('100% - 215px')
            + .col
                float right
                +mobile()
                    border-top 1px solid rgba(#000, .1)
                    padding-top 20px
                    margin-top 20px
                .row:nth-child(2)
                .row:nth-child(3)
                .row:nth-child(5)
                    label
                        width 45px
                    input
                    select
                        width calc('100% - 45px')
                .row:nth-child(4)
                    label
                        width 58px
                    input
                        width 166px
                        float left
                .row:nth-child(6)
                    label
                        width 74px
                    textarea
                        width calc('100% - 74px')
        input[type=submit]
            background #fff
            border 1px solid #878787
            color #878787
            transition background .3s, color .3s, border .3s
            cursor pointer
            calibri 15
            line-height 1
            padding 10px 20px 8px
            outline 0
            border-radius 3px
            &:hover
                color #fff
                background $azul
                border-color $azul
