.servicos
    +above($tablet)
        padding 20px
    h2
        margin 40px 0 22px
        &:first-child
            margin-top 0
        calibri 15 bold
        color $azul
        padding-bottom 5px
        border-bottom 1px dashed $azul
    .grafico-wrapper
        width 100%
        overflow auto
        margin-top 30px
        position relative
    .grafico
        width 800px
        height 237px
        margin 0 auto
        position relative
        .item-1
            width 126px
            height 38px
            position absolute
            left 0
            top 49px
            background $img('quadro1.png') no-repeat center
            calibri 15 bold
            text-align center
            color $azul
            line-height 42px
        .item-2
            width 126px
            height auto
            position absolute
            left 0
            top 127px
            span:first-child
                display block
                height 38px
                background $img('quadro1.png') no-repeat center
                calibri 15 bold
                text-align center
                color $azul
                line-height 42px
            span:last-child
                display block
                margin-top 8px
                calibri 12 bold
                color $azul
                text-align center
                line-height 1.3
        .setas
            width 59px
            height 85px
            position absolute
            top 65px
            left 134px
            background $img('setas.png') no-repeat center
        .quadro-2
            position absolute
            top 48px
            right 400px
            width 207px
            height 122px
            background $img('quadro2.png') no-repeat center
            img
                width 80%
                display block
                margin 30px auto 0
        .quadro-2-texto
            position absolute
            top 154px
            right 400px
            width 207px
            height auto
            text-align center
            span:first-child
                display inline-block
                background $azulClaro
                calibri 12 bold
                color #fff
                padding 7px 6px 5px
                border-radius 3px
            span:last-child
                display block
                margin-top 8px
                calibri 12 bold
                line-height 1.3
                color $azul
        .quadro-3
            position absolute
            right 67px
            top 0
            width 305px
            height 38px
            background $img('quadro3.png') no-repeat center
            calibri 15 bold
            text-align center
            color $azul
            line-height 42px
        .quadro-4
            position absolute
            right 0
            bottom 0
            width 431px
            height 212px
            background $img('quadro4.png') no-repeat center
            padding 35px 40px
            padding-right 20px
            span
                display block
                min-height 15px
                background $img('checkup-logo2.png') no-repeat top left
                padding-left 25px
                calibri 15 bold
                color $azul
                line-height 1
                margin-bottom 18px
